body {
background-image: url(bg-4868.png);
background-color: #F5F5F5;
font-family: "Segoe UI", Geneva, Arial, Helvetica, sans-serif;
font-size: 95%;
}

.center {
width: 315px;
height: 100px;
}

#length {
width: 300px;
}

#value {
display: inline-block;
font-weight: 600;
}

#specialchar {
margin-bottom: 7px;
}

#warning {
color: red;
font-weight: 400;
font-size: 80%;
margin-top: 7px;
}
